	<!-- mobile menu here -->

    <nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
        <div class="mobile-menu-top">

            <ul class="scrollable-ul">
                <li>     
                    <div class="menu-item">
                        <h2>Visit</h2>
                        <ul class="visit-dropdown">
                            {{render_menu('visit-dropdown-menu')}}
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="menu-item">
                        <h2>Preview</h2>
                        <ul>
                            {{render_menu('preview-menu-items')}}
                        </ul>
                    </div>
                </li>

                {{render_menu('secondary-menu')}}
                <!--<li>
                    <div class="menu-item">
                        <h2>Shop</h2>
                    </div>
                </li>-->
            </ul>

        </div>

		<div class="mobile-menu-bottom">
		
	        <a href="{{ path('entity.node.canonical', {'node': 43}) }}" class="buy-now">
	        	<div class="mobile-buy-now-menu">
	            	{{ticket_purchase_text}}
				</div>
	        </a>
	        <div class="mobile-menu-top">
	            <div class="address">
	                <p>
	                	<a href="https://www.google.com/maps/place/Eastern+State+Penitentiary/" target="_blank">
                            2027 Fairmount Avenue <br />
	                        Philadelphia, PA 19130 <br/>
	                	</a>
                        <a href="tel:2152363300">
                            Phone: (215) 236-3300 <br />
	                	</a>
	                </p>
	                
	                <p> Open Today from 6:00pm to 1:00am</p>
	            </div>
	
	            <ul class="list-inline social-icons">
	
	                <li>
                        <a href="https://www.facebook.com/TerrorAtESP" target="_blank">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/TerrorAtESP" target="_blank">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/terroratesp/" target="_blank">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
	
	            </ul>
	        </div>
	        
		</div>
    </nav>

    <div id="c-mask" class="c-mask"></div><!-- /c-mask -->
    
    <!-- Navbar Menu -->
    
	<header class="navbar">
        <a class="navbar-logo" href="{{front_page}}">
            <img src="{{front_page}}themes/tbtw/assets/header-logo@2x.png.png">
        </a>

        <div class="hours-section hidden-sm hidden-xs">
            <ul class="list-unstyled">
                <li>Open Today from</li>
                <li><span class="hours">6:00pm to 1:00am</span></li>
                <li><a href="{{ path('entity.node.canonical', {'node': 5}) }}">Directions &amp; Parking</a></li>
            </ul>
        </div>

        <div class="navigation-links-section">
            <nav class="navbar-inverse nav-upper  hidden-sm hidden-xs">
              <div class="container-fluid">
                <ul class="nav navbar-upper">
                  {{render_menu('secondary-menu')}}
                </ul>
              </div>
            </nav>

            <nav class="navbar navbar-inverse navbar-lower">
              <div class="container-fluid">

                <div id="o-wrapper" class="o-wrapper">
                    <div class="c-buttons">
                      
                      <button id="c-button--slide-right" type="button" class="navbar-toggle collapsed" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                    </div>
                </div>
                

                <div class="collapse navbar-collapse navbar-right" id="navbar">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a  href="javascript: void(0);" 
                            class="dropdown-toggle underline" 
                            data-toggle="dropdown" 
                            role="button" aria-haspopup="true" aria-expanded="false">

                            Visit
                        </a>
                        
                        <ul class="dropdown-menu visit-dropdown">
                          {{render_menu('visit-dropdown-menu')}}
						</ul>
                    
                    </li>
                    <li>
                    	<a href="javascript: void(0);" class="underline">Preview</a>
                    	
                    	<ul class="dropdown-menu preview-dropdown">
                            {{render_menu('preview-menu-items')}}
                        </ul>
                    </li>
                    <!--<li><a href="#">Shop</a>-->
                    </li>
                    <li><a class="red-link" href="{{ path('entity.node.canonical', {'node': 43}) }}" class="underline"><strong>{{ticket_purchase_text}}</strong></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
        </div>

        <br style="clear:left;" />

    </header>