<div class="subpage-hero-section">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        
                        <div class="subpage-hero-details generic-hero" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0) 49%,rgba(0,0,0,0.01) 50%,rgba(0,0,0,0.35) 100%), url({{baseurl}}/themes/tbtw/assets/hero-images/tbtw-hero-overlay@2x.png.png), url({{file_url(node.field_lead_image.entity.uri.value)}});">
                            <section>
                                <ol class="breadcrumb">
                                    <li><a href="#">Preview</a></li>
                                    <li class="active"><a href="#">{{node.title.value}}</a></li>
                                </ol>

                                <h1 class="subpage-title">{{node.title.value}}</h1>
                            </section>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div class="main-content-subpages">

            <div class="container-fluid">

                <div class="padded-box">

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        	<div id="prison-wrap" style="width:100%; margin-top:65px;">
                                <img id="prison-img" src="../{{front_page}}themes/tbtw/assets/prison-gfx@2x.png.png" alt="Prison" />
                                
                                <a href="javascript:void(0);">
                                    <span class="bubble detritus" 
                                    		data-title='{{attractions.8.title.value}}' 
                                    		data-desc='{{attractions.8.field_attraction_description.value}}'
                                    		data-image='{{file_url(attractions.8.field_tbtw_attraction_logo.entity.uri.value)}}' 
                                    		style="top: 8%; left: 7%;"></span>
                                </a>
                                <a href="javascript:void(0);">
                                    <span class="bubble breakout" 
                                    		data-title='{{attractions.11.title.value}}' 
                                    		data-desc='{{attractions.11.field_attraction_description.value}}'
                                    		data-image='{{file_url(attractions.11.field_tbtw_attraction_logo.entity.uri.value)}}'
                                    		data-video='{{attractions.11.field_tbtw_attraction_video.value}}' style="top: -11%; left: 32%;"></span>
                                </a>
                                <a href="javascript:void(0);">
                                    <span class="bubble infirmary" 
                                    		data-title='{{attractions.12.title.value}}' 
                                    		data-desc='{{attractions.12.field_attraction_description.value}}'
                                    		data-image='{{file_url(attractions.12.field_tbtw_attraction_logo.entity.uri.value)}}'
                                    		data-video='{{attractions.12.field_tbtw_attraction_video.value}}' style="top: 14%; left: 37%;"></span>
                                </a>
                                <a href="javascript:void(0);">
                                    <span class="bubble quaratine" 
                                    		data-title='{{attractions.8.title.value}}' 
                                    		data-desc='{{attractions.8.field_attraction_description.value}}'
                                    		data-image='{{file_url(attractions.8.field_tbtw_attraction_logo.entity.uri.value)}}' 
                                    		data-video='{{attractions.8.field_tbtw_attraction_video.value}}' style="top: 40%; left: 17%;"></span>
                                </a>
                                <a href="javascript:void(0);">
                                    <span class="bubble lockdown" 
                                    		data-title='{{attractions.10.title.value}}' 
                                    		data-desc='{{attractions.10.field_attraction_description.value}}'
                                    		data-image='{{file_url(attractions.10.field_tbtw_attraction_logo.entity.uri.value)}}' 
                                    		data-video='{{attractions.10.field_tbtw_attraction_video.value}}' style="top: 53.5%; left: 48%;"></span>
                                </a>
                                <a href="javascript:void(0);">
                                    <span class="bubble machine-shop" 
                                    		data-title='{{attractions.9.title.value}}' 
                                    		data-desc='{{attractions.9.field_attraction_description.value}}'
                                    		data-image='{{file_url(attractions.9.field_tbtw_attraction_logo.entity.uri.value)}}' 
                                    		data-video='{{attractions.9.field_tbtw_attraction_video.value}}' style="top: 26%; left: 58%;"></span>
                                </a>
                              </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>