<li>
    <div class="row">
        <div class="col-md-3">
            <div class="list-item-image">
            	{%if row._entity.field_thumbnail_image.entity.filename %}
            		<a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}" style="max-height: 225px; overflow: hidden; display: block; border: none !important;">
                		<img class="img-responsive" src="{{file_url(row._entity.field_thumbnail_image.entity.uri.value)}}">
                	</a>
                {% endif %}
            </div>
        </div>

         <div class="col-md-9">
            <div class="list-item-detail">
            	<!--<p class="sub-headline">Sub Headline, Date, Author or Category</p>-->
                <h2><a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}">{{row._entity.title.value}}</a></h2>
                {{fields.body.content}}
                
                <p><strong><a href="{{ path('entity.node.canonical', {'node': row._entity.nid.value}) }}">Read more</a></strong></p>
            </div>
        </div>
    </div>
    <br />
    <hr>
</li>